[Unit]
Description=Port knocking daemon
After=syslog.target network.target
Wants=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/knockd
ExecStart=/usr/sbin/knockd -d $OPTIONS 

[Install]
WantedBy=multi-user.target
